.filterBar {
  max-width: 226px;
  margin-bottom: 32px;
  text-align: start;
}

@media screen and (max-width: 767px) {
  .filterBar {
    width: 100%;
    max-width: 226px;
    margin-bottom: 24px;
  }
}

.title {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.28;
}
