.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 18px;
  /* margin-bottom: 40px; */
}

.input {
  padding: 16px 18px;
  border: 1px solid rgba(25, 26, 21, 0.1);
  border-radius: 12px;
  background-color: var(--hero-bg);
}

.input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--text);
}
