.reviewsList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
  text-align: start;
  /* margin-bottom: 40px; */
  margin-top: 48px;
}

.reviewHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background-color: rgba(252, 131, 44, 0.2);
  color: var(--accent);
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
}

.reviewInfo {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 4px;
  color: var(--text);
}

.star {
  vertical-align: middle;
  margin-right: 8px;
}

.reviewComment {
  font-weight: 400;
}
